<% title 'Topic Index' %>
<%= render 'shared/listing_header' %>
<div class="index container my-5">
  <% categories.each do |category| %>
    <div class="row">
      <div class="col">
        <div class="mt-4 mb-2">
          <strong><%= category.name %></strong>
        </div>
      </div>
    </div>
    <div class="row">
      <% category.topics.sort_by(&:name).select { |topic| @topic_ids_with_sermons.include?(topic.id) }.in_groups(5, false) do |topic_group| %>
      <div class="col-12 col-md">
        <dl>
        <% topic_group.each do |topic| %>
          <dd><%= link_to topic.name, topic_path(topic) %></dd>
        <% end %>
        </dl>
      </div>
      <% end %>
    </div>
  <% end %>
</div>
