<div class="container">
  <% if params[:page].blank? %>
    <%= render partial: "shared/resource/feature", locals: { resource: resources.first } if resources.first %>
    <div class="card-deck">
    <% resources[1, 3]&.each do |resource| %>
      <%= render partial: "shared/resource/card", locals: { resource: resource } %>
    <% end %>
    </div>
  <% end %>
  <% (params[:page].blank? ? resources[4..-1] : resources)&.each do |resource| %>
    <%= render partial: "shared/resource/item", locals: { resource: resource } %>
  <% end %>
</div>
<%%>
