<div class="container">
  <% resources.limit(3).each do |resource| %>
  <div class="card-deck">
    <div class="card">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title"><%= resource.name %></h5>
        <p class="card-text"><%= resource.snippet %></p>
      </div>
      <div class="card-footer">
        <small class="text-muted"><%= resource.published_at %></small>
      </div>
    </div>
  </div>
  <% end %>
  <% resources.each do |resource| %>
    <%= render "shared/#{resource_type}" %>
  <% end %>
</div>
