<% title params[:resource_type] ? "#{params[:resource_type].pluralize.titleize} on #{series.name}" : "Resources on #{series.name}" %>
<% if series.background.present? && series.foreground.present? %>
<header class="listing-header">
    <div class="series-background" style="background-image:url(<%= url_for series.background %>);">
      <div class="container">
          <%= image_tag url_for(series.foreground), class: 'img-fluid' %>
      </div>
    </div>
</header>
<% else %>
<%= render 'shared/listing_header' %>
<% end %>
<%= render partial: 'shared/resources', locals: { resources: resources } %>
