<footer class="site-footer">
  <div class="container">
    <%= render 'links' %>
  </div>
  <div class="credits">
    <div class="copyright">&copy; <%= Date.today.year %> <%= ENV.fetch('NAME') %></div>
  </div>
</footer>
