<footer class="site-footer">
  <div class="connect">
    <div class="container">
      <div class="row">
        <div class="col col-md-6">
          <div class="podcast">
            <a href="https://geo.itunes.apple.com/us/podcast/auckland-ev-church-sermons/id944102025?mt=2&app=itunes"
              target="_blank"
              style="display:inline-block;overflow:hidden;background:url(https://linkmaker.itunes.apple.com/en-us/badge-lrg.svg?releaseDate=2019-04-21T00:00:00Z&kind=podcast&bubble=podcasts) no-repeat;width:165px;height:40px;">
            </a>
            <a href="https://open.spotify.com/show/7zhspYmybJOa54afNYEg8H?si=6hqr18IXRaKTdz_Jsnu--A"
                target="_blank">
              <%= image_pack_tag 'listen_spotify.png', style: 'height: 40px;' %>
            </a>
          </div>
        </div>
        <div class="col col-md-6">
          <div class="social">
            <a href="https://www.facebook.com/EvChurchNZ" target="_blank"><i class="fab fa-facebook-f"></i></a>
            <a href="https://twitter.com/AucklandEv" target="_blank"><i class="fab fa-twitter"></i></a>
            <a href="https://www.youtube.com/channel/UC8IXh1iqJ_6q5nA8ZMdmwyg" target="_blank"><i class="fab fa-youtube"></i></a>
            <a href="https://vimeo.com/user11230069" target="_blank"><i class="fab fa-vimeo-v"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <%= render 'links' %>
  </div>
  <div class="credits">
    <div class="copyright">&copy; <%= Date.today.year %> Auckland Ev</div>
  </div>
</footer>
