<div class="links">
  <div class="row">
    <% if Resource.published.articles.any? %>
    <div class="col">
      <ul>
        <li><%= link_to 'Articles', resources_path(resource_type: 'article') %></li>
      </ul>
    </div>
    <% end %>
    <% if Resource.published.sermons.any? %>
    <div class="col">
      <ul>
        <li><%= link_to 'Sermons', resources_path(resource_type: 'sermon') %></li>
      </ul>
    </div>
    <% end %>
    <div class="col">
      <ul>
        <li><%= link_to 'About Us', 'https://www.ev.church/about', target: '_blank' %></li>
      </ul>
    </div>
    <div class="col">
      <ul>
        <li><%= link_to 'Ev Church', 'https://www.ev.church', target: '_blank' %></li>
      </ul>
    </div>
  </div>
</div>
