<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/head', include_gtm: true %>
  </head>

  <body>
    <% if Rails.env.production? %>
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N2PSMHH" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <% end %>
    <%= render 'menu' %>
    <%= yield %>
    <%= render 'footer' %>
  </body>
</html>
