<% title params[:resource_type] ? "#{params[:resource_type].pluralize.titleize} by Scripture" : 'Scripture Index' %>
<%= render 'shared/listing_header' %>
<div class="index container my-5">
  <div class="row">
  <% @scriptures.each do |hash| %>
    <div class="col-12 col-md">
    <% hash.each do |key, collection| %>
      <dl>
      <dt class="mt-4 mb-2"><%= key %></dt>
      <% collection.each do |scripture| %>
        <dd><%= link_to scripture.name, scripture_path(scripture, resource_type: params[:resource_type]) %></dd>
      <% end %>
      </dl>
    <% end %>
    </div>
  <% end %>
  </div>
</div>
